.MoviesName{
    margin-right: auto;
    width: 10%;
    padding: 5px;
    margin-left: 5%;
    border: 3px solid green;
    border-radius: 10px;
}

.MovieContainer{
    text-align: center;
    justify-content: center;
}

.MovieOverview{
    border: 3px solid green;
    margin: 5px;
}