header{
    background-color: #FF6464;
    justify-content: center;
    align-items: center;
    padding:  30px;
    text-align: center;
    
}

.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color:#F8FFDB;
}